<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become an Admin</title>
  </head>
  <body>
    <div class="d-flex align-items-center justify-content-center text-light" style="min-height: 75vh">
      <form action="" method="POST">
        <h1 class="mb-4 fw-bold">Become an Admin</h1>
        <p class="text-info">Enter the correct password to gain admin status</p>
        <label for="adminPassword" class="form-label">Admin Password:</label>
        <input name="adminPassword" id="adminPassword" type="text" class="form-control" />
        <div class="d-grid">
          <button class="btn btn-primary mt-3">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
