<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
  </head>
  <body>
    <div class="d-flex align-items-center justify-content-center text-light" style="min-height: 75vh">
      <form action="" method="POST" class="row">
        <h1 class="text-light fw-bold text-center mb-4">Log In</h1>
        <div class="row">
          <div class="col-md-12">
            <label for="username" class="form-label">Username</label>
            <input name="username" id="username" type="text" class="form-control mb-3" />
            <label for="password" class="form-label">Password</label>
            <input name="password" id="password" type="password" class="form-control" />
            <div class="d-grid">
            <button class="btn btn-primary mt-3">Log In</button>
          </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
