<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <div class="d-flex align-items-center justify-content-center text-light" style="min-height: 75vh;">
      <form action="" method="POST">
        <h1 class="fw-bold mb-4">Create New Message</h1>
        <label for="title" class="form-label">Title</label>
        <input name="title" id="title" type="text" class="form-control mb-4" />
        <label for="text" class="form-label">Text</label>
        <input name="text" id="text" type="text" class="form-control" />
        <div class="d-grid">
          <button class="btn btn-primary mt-3">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
